# Ignore node_modules in all directories
my-lambda-project/node_modules/*
react-graphql-dashboard/node_modules/*
server/node_modules/*
graphql-server/node_modules/*
node_modules
my-graphql-lambda/node_modules/*
graphql-serverless-project/node_modules/*
